body {
	height:100%; /* needed for container min-height */
	background: #f4f3f5;
}

html {
	height:100%; /* needed for container min-height */
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


.main {
	padding-top:50px;
}

.main-container {
  position:relative;
  left:0;
  background: url(images/draft.png) repeat-x 0 0;
  background-size: contain;
  margin: 0px;
  width: 100%;
}
.fill-draft {

	height:300px;
}

p.col-footer{
	padding-top:2%;
}

footer{
	color:#fff;
	width: 100%;
	height:8%;
	background-color: #1d1c1e;
	border-top: 3px solid #323133;
	margin: 0px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

.page-header{
	border-bottom: 1px solid #8c8b8b;
}

.container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */

	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

img {
    max-width: 100%;
    height: auto;
}