body {
  color: #fff;
  background: #171717;
}
h4 {
  color: #fff;
}

.panel-default > .panel-heading {
  color: #171717 !important;
  background-color: #171717 !important;
  border-color: #ddd;
}

.panel-default > .panel-heading-custom {
background: #ff0000; color: #fff; }

.panel {
  background-color: #171717;
}


.main {
  background: url(images/heading.jpg) repeat-x 0 0;
  margin: 0px;
}
.main .img-responsive {
  margin-bottom: 0px;
}

.grid-custom .col-sm-6,
.grid-custom .col-xs-6,
.grid-custom .col-xs-12,
.grid-custom .col-sm-3 {
    padding:5px;
    padding-bottom:30px;
      }
.img-responsive¨
  }
.first-block{
	border-bottom: 5px #000 solid;
}
.cl { font-size: 0; line-height: 0; height: 0; clear: both; }

.left { float: left; display: inline; }



#heading-box {position: relative; padding-top:.7%; }
.heading-box-background { background-color:rgba(0,0,0,0.5); padding:3%;}
.featured {position:relative; left: 10%; padding-top:1%; width:100%;}
.featured-main {position: relative;  float: left;}
.featured-main img {border: 1px solid #000;}
.featured-main-details {position: absolute; left: 0; top:75%;}
.featured-main-details-cnt { background: url(images/featured-main-details.png) repeat 0 0; height: 67px; padding-left: 10px; padding-top: 7px; padding-right: 5px;}
.featured-main-details h4, .featured-main-details h4 a {font-size: 12px; color: #9fea00; margin:0;}
.featured-main-details p {color: #c9c9c9; font-size: 10px;}

.featured-side {width: 260px; float: left;}
.featured-side-item { padding-bottom: 3.1%;}
.featured-side-item img {border: 1px solid #000; margin-right: 3px;}
.featured-side-item h4, .featured-side-item h4 a {font-size: 12px; color: #9fea00;padding-top: 0px;}

.featured-side-item h3 {font-size:12px; margin-top: 0px; color:#fff;}


.sidebarnews ul {list-style-type: none; padding-bottom: 7px; padding-left:1%;}
.sidebarnews ul li {background: url(images/news-divider.gif) repeat-x 0 bottom; padding-bottom: 5px; padding-top: 0px;}
.sidebarnews ul li small.date {color: #93de3c; font-size: 9px;}


a { color: #9fea00; text-decoration: none; }

.second {padding-right: 5px !important; background: url(images/second.gif) no-repeat 0 0; width: 324px; }
a.watch-now {text-decoration: underline; text-transform: uppercase;}
a.watch-now:hover {text-decoration: none;}



.table-head {text-align:center;}
.table-text {text-align:center;}

footer{
	width: 100%;
	height:8%;
	background-color: #1d1c1e;
	border-top: 3px solid #323133;
	margin: 0px;
}

p.col-footer{
	padding-top:2%;
}


